{% extends 'base.html.twig' %}


{% block body %}

    <h1>Connection</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.password) }}
    {{ form_end(form)}}

    <a href="{{ path('inscription') }}">Pas encore inscrit ?</a>

{% endblock %}
